/* some style */
button[disabled] {
  color: #ccc;
  border-color: #ccc;
  text-shadow: none;
}
form {
  margin-bottom: 0rem;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.errorbar {
  display: flex;
  align-items: center;
  height: 2em;
  margin-bottom: 1rem;
  margin-top: 0rem;
}

.errorbar-msg {
  font-size: 1em;
}

.errorbar-msg.red {
  color: red;
}

#ndtlogo {
  color: white;
  background: black;
  width: 20em;
  height: 20em;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-top: 5em
}

#ndtlogo p {
 margin: 0px;
}

.blank {
  min-height: 2em;
  width: 100%;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.errorbar {
  
}
